name: Nightly build
on:
  push:
  schedule:
    - cron:  '0 0 * * *'
    
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          sudo apt-get -y install reprepro wget
          for pkgver in 0.0.49 0.0.48 0.0.47 0.0.46 0.0.45 0.0.44; do wget -c https://dl.discordapp.net/apps/linux/${pkgver}/discord-${pkgver}.deb && echo "${pkgver}" > /tmp/current_version.txt && break; done
          gpg --import private.key
          gpg --list-keys
          for code in jammy focal; do reprepro --basedir ubuntu includedeb ${code} discord-${pkgver}.deb; done
          #echo "::set-output name=version::$(pkgver)"
        id: build
      - name: Upload
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          git clone --depth 1 https://${{ secrets.GH_TOKEN }}@github.com/discord-repo/discord-repo.github.io.git /tmp/io
          #rm -rf /tmp/io/apt
          mkdir -p /tmp/io/apt
          cp -rv ubuntu public.key /tmp/io/apt
          cd /tmp/io
          cp /tmp/current_version.txt .
          echo "diff"
          git diff --exit-code current_version.txt && exit 0
          touch .nojekyll
          git config user.email "support@gh.com"
          git config user.name "GitHub Actions"
          git add -A .
          git commit -a -m "GitHub Actions build ${GITHUB_REPOSITORY} ${GITHUB_RUN_ID}"
          git push --quiet origin master > /dev/null 2>&1

# gpg --gen-key
# gpg --list-keys discord@discord.com
# gpg --output public.key --armor --export discord@discord.com
# gpg --output private.key --armor --export-secret-key discord@discord.com
# gpg --delete-secret-keys discord@discord.com
# gpg --delete-keys discord@discord.com
